%% -*- erlang -*-
{cover_enabled, true}.
{erl_opts, [debug_info, warnings_as_errors, {parse_transform, lager_transform}]}.
{edoc_opts, [{dir, "doc"}]}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
{deps,
 [
  {lager, "~>3.5.0"},
  {riak_dt, "~>2.1.1"},
  {fifo_utils, "~>0.1.24"},
  {jsxd, "~>0.2.3"},
  {libsnarlmatch, "~>0.1.7"}
 ]}.

{profiles,
 [
  {lint,  [{plugins, [rebar3_lint]}]},
  {eqc,
   [{erl_opts, [{d, 'EQC'}, nowarn_export_all]},
    {deps, [jsone]},
    {plugins, [rebar_eqc]}]}]}.

{xref_checks, [
               %% since vlock isn't here ...
               %% undefined_function_calls
               %% undefined_functions,
               locals_not_used,
               deprecated_function_calls, deprecated_functions]}.
