%% -*- erlang -*-
{cover_enabled, true}.
{erl_opts, [debug_info, warnings_as_errors, {parse_transform, lager_transform}]}.
{edoc_opts, [{dir, "doc"}]}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
{deps,
 [
  {lager, "2.1.1"},
  {riak_dt, ".*", {git, "https://github.com/basho/riak_dt.git", {tag, "2.1.1"}}},
  {uuid, ".*", {git, "https://github.com/project-fifo/erlang-uuid.git", {tag, "0.4.7"}}},
  {jsx, "1.4.5"},
  jsxd,
  libsnarlmatch
 ]}.

{profiles,
 [{eqc,
   [{erl_opts, [{d, 'EQC'}]},
    {deps, [{fqc, "0.1.7"}]},
    {plugins, [{rebar3_eqc, {git, "https://github.com/project-fifo/rebar3-eqc-plugin.git", {branch, "fifo"}}}]}]}]}.
